nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);

  p {
    font-family: "Century Gothic";
    letter-spacing: 0.2rem;
  }

  ul {
    font-family: "Alegreya Sans";
    display: flex;
    gap: 3rem;
    list-style: none;
    color: white;
  }
}
