nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  background-color: $bg-nav-white-opacity-color;
  backdrop-filter: blur(25px);

  p {
    font-family: $primary-font;
    letter-spacing: 0.2rem;
  }

  ul {
    font-family: $secondary-font;
    display: flex;
    gap: 3rem;
    list-style: none;
    color: $white-color;
  }
}
