// colors
$white-color: #ffffff;
$bg-dark-blue-color: #01040d;
$btn-bg-blue-color: #2757d0;
$bg-nav-white-opacity-color: #ffffff0d;
$bg-radial-gradient: radial-gradient(
  57.88% 57.88% at 45.25% 14.67%,
  #01040d00 0%,
  #01040d 100%
);
$bg-linear-gradient: linear-gradient(
  90deg,
  #252a41 0px,
  #434c74e6 40px,
  #252a41 80px
);

// font
$primary-font: "Century Gothic";
$secondary-font: "Alegreya Sans";